/* Tabs styles */
.tabs-wrapper {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-size: 0.85rem;
    &.dark-mode {
        border-color: $dark-border-color;
        background-color: $very-dark-desaturated-blue;
        color: $dark-grayish-blue;
    }
    &.light-mode {
        background-color: $very-light-gray;
        color: $light-grayish-blue;
    }
}

.tabs-nav-wrapper, .tabs-nav-wrapper-mobile {
    button.active {
        color: $primary;
    }
}

.tabs-nav-wrapper-mobile {
    &.dark-mode {
        border-color: $dark-border-color;
        background-color: $very-dark-desaturated-blue;
        color: $dark-grayish-blue; 
    }
    &.light-mode {
        background-color: $very-light-gray;
        color: $light-grayish-blue;
    }
    
}

.btn-close {
    &:hover, &:focus {
        svg path {
            transition: fill ease 0.21s;
            fill: $light-grayish-blue;
        }
    }
}